<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<h3>Beans in <%= @profile.name %></h3>

<% Ingredient.where(profile_id: @profile.id).each do |t| %>
	<p><%= Bean.find(t.bean_id).name %>: <%= t.quantity %></p>
<% end %>

<%= link_to "Add Bean", new_profile_ingredient_path(:profile_id => @profile.id) %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
