<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<h3>Beans in <%= @profile.name %></h3>
<!-- Could this be done instead by listing all ingredients with @profile.id? Makes more sense. -->
<% @profile.beans.each do |b| %>
	<p><%= b.name %>: <%= b.ratio %></p>
<% end %>

<%= link_to "Add Bean", new_profile_ingredient_path(:profile_id => @profile.id) %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
