<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.number_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :eight_oz %><br>
    <%= f.number_field :eight_oz %>
  </div>
  <div class="field">
    <%= f.label :twelve_oz %><br>
    <%= f.number_field :twelve_oz %>
  </div>
  <div class="field">
    <%= f.label :sixteen_oz %><br>
    <%= f.number_field :sixteen_oz %>
  </div>
  <div class="field">
    <%= f.label :eighty_oz %><br>
    <%= f.number_field :eighty_oz %>
  </div>
  <div class="field">
    <%= f.label :total_oz %><br>
    <%= f.number_field :total_oz %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
