<h1>Listing chunks</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Bean</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chunks.each do |chunk| %>
      <tr>
        <td><%= chunk.order_id %></td>
        <td><%= chunk.bean_id %></td>
        <td><%= chunk.quantity %></td>
        <td><%= link_to 'Show', chunk %></td>
        <td><%= link_to 'Edit', edit_chunk_path(chunk) %></td>
        <td><%= link_to 'Destroy', chunk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chunk', new_chunk_path %>
